/*
Theme Name: Enfold Child
Description: A <a href='http://codex.wordpress.org/Child_Themes'>Child Theme</a> for the Enfold Wordpress Theme. If you plan to do a lot of file modifications we recommend to use this Theme instead of the original Theme. Updating will be much easier then.
Version: 1.0
Author: Kriesi
Author URI: http://www.kriesi.at
Template: enfold
*/


/*Add your own styles here:*/

html {
    background-color: #c3c3c3;
}

#top .avia-slideshow-button {
    font-size: 20px;
}
#top .avia-slideshow-button.avia-color-light {
    background-color: #f78645;
    color: #000;
}

.avia-button.avia-size-x-large {
    font-size: 20px;
}
.avia-promocontent p {
    font-size: 19px;
}
#top .av_header_glassy.av_header_transparency #header_main {
    background-color: rgba(255, 255, 255, 0.5);
}

.caption_bottom .slideshow_caption .slideshow_inner_caption {
    background-color:rgba(0, 0, 0, 0.5);
}

/* .alternate_color, .footer_color{
    background-color: #066534;
} */
.html_modern-blog .avia-content-slider .slide-entry-title {
    font-size: 1.2em;
}
.html_header_transparency #top .avia-builder-el-0 .slideshow_caption,
#av_section_1.empty-header .container, 
.empty-header .avia-builder-el-0 .container,
#empty-header .container {
    padding-top: 0px!important;
}
.empty-header .container .content {
    padding-top: 0;
    padding-bottom: 0;
}
.widgettitle {
    margin-bottom: 1.7rem;
}
#top .widget_nav_menu li {
    font-size: 100%;
}
#top .widget_nav_menu li .sub-menu {
    display: none;
}
#custom_html-3 .avia-button-wrap {
    padding-top: 1rem;
}